@charset "UTF-8";

* {
    
    font-family: Arial, Helvetica, sans-serif;
    /*height; 100%*/
}

body {
    background-image: linear-gradient(to right,#9c8773, #BF6C3B,#734636);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #452a21;
    width: 600px;
    padding: 10px;  
    margin: auto;
}

p {
    text-align: justify;
}

h1 {
color:#734636;
text-align: center;
text-shadow: 2px 2px 5px #54322775;
}
h2 {
color: #BF6C3B;
}
